body {
  font-family: 'Quicksand', 'NTR', sans-serif;
  background-color: #fefeff;
  overflow-x: hidden;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.outside-links-mobile {
  display: none;
}

.left-section {
  padding: 16px;
  min-width: 300px;
}

h1 {
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: bolder;
  color: #333334;
}

#id-photo {
  width: 200px;
}

#center-div {
  border-right: 1px solid #000033;
  padding-right: 24px;
}

#name {
  font-weight: bold;
  font-family: 'Quicksand Medium', 'NTR', sans-serif;
  color: #000033;
  width: 100%;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 8px;
}

#subtitle {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-top: -10px;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-width: 600px;
  text-align: right;
  color: #000033;
}

#port-span {
  color: white;
  padding: 8px;
  border-radius: 4px;
}

#about-span {
  color: black;
  padding: 8px;
  border-radius: 4px;
}

.main-nav-item {
  font-weight: 900;
  font-family: 'Quicksand Medium';
  padding: 8px;
}

.nav-item-span {
  padding: 8px;
}

.nav-item-span:hover {
  color: #99999f;
}

.nav-item {
  padding: 2px 2px 2px 2px;
  font-size: 16px;
}

.nav-item:hover {}

#about-me-button {
  margin-bottom: 24px;
}

#logo-container {
  text-align: right;
  margin-bottom: 24px;
  padding-right: 8px;
  /* -moz-box-shadow: 1px 1px 2px 1px #ccc;
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
  box-shadow: 1px 1px 2px 1px #ccc;
  background: url('../images/grid_bg1.jpg');
  background-position: center; */
}

#right-section {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  min-width: 660px;
}

.pages {}

#portfolio {
  text-align: left;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 32px;
}

.project-screenshot {}

.project-screenshot img {
  width: 300px;
  height: auto;
  border: 2px solid #00000f;
}

.project-info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 16px;
}

.project-title {
  font-size: 24px;
  color: #00000f;
  font-weight: bold;
  padding-top: 0px;
}

img {}

.project-description {
  font-family: Roboto, Helvetica, sans-serif;
  color: #66666f;
  margin-bottom: 8px;
}

.project-links {
  display: flex;
  flex-direction: row;
}

.link-container {}

.link {
  font-size: 16px;
  font-family: Roboto, 'Quicksand Medium';
  color: #33333f;
}

.github-link {
  padding: 0px 8px 0px 8px;
}

.website-link {
  border-right: 1px solid #ff0000;
  padding: 0px 8px 0px 0px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: #99999f;
}

#about-me {
  margin-top: 16px;
  text-align: left;
  display: none;
}

@media only screen and (max-width: 960px) {
  #name {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 6px;
  }
  #subtitle {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: #ff0000;
    margin-top: -8px;
  }
  .left-section {
    min-width: 250px;
  }
  #right-section {
    padding-left: 16px;
    margin-top: 16px;
    min-width: 350px;
  }
  .project {}
  .project-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  /* 600 is the total of min-widths for left and right section (when they stop collapsing)*/
  #wrapper {}
  #name {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  #subtitle {}
  .left-section {
    min-width: 300px;
  }
  #right-section {}
  .project {
    flex-direction: column;
    text-align: center;
  }
  .project-screenshot {
    margin-bottom: 8px;
  }
  .project-screenshot img {
    width: 100%;
  }
  .project-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  /* 600 is the total of min-widths for left and right section (when they stop collapsing)*/
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #name {
    text-align: center;
    font-size: 48px;
  }
  #subtitle {
    text-align: center;
    font-size: 20px;
  }
  #center-div {
    border: none;
  }
  #navbar {}
  .main-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .outside-links {
    display: none;
  }
  .outside-links-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  #center-div {
    padding: 0px;
  }
  #logo-container {
    padding: 0px;
  }
}